# Environment files
.env
.env.*
!.env.example

# Dependencies
node_modules/
vendor/

# Logs
*.log

# Laravel
backend/storage/logs/*
backend/bootstrap/cache/*

# Frontend build output
frontend/dist/

# IDE / Editor
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db